* {
    margin: 0;
    padding: 0;
    font-family: 'Bahnschrift';
}

header {
    position: fixed;
    width: 100%;
    height: 149px;
    background-color: white;
    border-bottom: 8px dashed #2B2A29;
}

.logo {
    position: absolute;
    padding: 77px;
}

.header-buttons {
    display: flex;
    justify-content: center;
    margin-left: 900px;
    margin-top: 26px;
    gap: 100px;
}

.cat-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 25px;
    gap: 40px;
}
.category-container {
    display: flex;
    margin-right: 70px;
    gap: 20px;
}

.categories, a {
    color: black;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
}

#login-popup {
    background: rgba(196, 196, 196, 0.76);;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#login-popup:target { display: block; }

.login-popup-content {
    background-color: white;
    width: 627px;
    height: 391px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50px;
    text-align: center;
    position: absolute;
}

.login-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FECF3D;
    width: 100%;
    height: 87px;
    border-radius: 50px 50px 0px 0px;
}

.login-auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 70px 100px;
    height: 100px;
}

.close-login-popup {
    display: inline-block;
}

input {
    border-bottom: 5px dashed black;
}

main {
    padding-top: 157px;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin: 15px;
    width: 420px;
    height: 611px;
    border-radius: 50px;
    font-size: 20px;
    text-transform: uppercase;
}

.basket-btn {
    background-color: #FECF3D;
    border: none;
    width: 182px;
    height: 52px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 24px;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 40px;
    border-top: 8px dashed #2B2A29;
    border-bottom: 8px dashed #2B2A29;
}

.main-container {
    /* background-image: url(/Client/img/main.png); */
    background-color: crimson;
    height: 100vh;
}

.green-container {
    /* background-image: url(/Client/img/green.png); */
    background-color: green;
    height: 80vh;
}

.bestsellers-container {
    background-color: honeydew;
    height: 80vh;
}

.shipping-container {
    /* background-image: url(/Client/img/shipping.png); */
    background-color: yellowgreen;
    height: 80vh;
}

.card-container {
    background-color: firebrick;
    height: 80vh;
}

footer {
    width: 100%;
    height: 463px;
}

.legal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 262px;
    border-top: 8px dashed #2B2A29;
    border-bottom: 8px dashed #2B2A29;
}

.legal h2 {
    font-size: 50px;
    font-weight: 400;
}

.legal p {
    font-size: 30px;
    font-weight: 400;
}

.footer-info-nav {
    font-size: 30px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 185px;
    background-color: #6B9D52;
}

.social h3 {
    color: white;
    font-size: 80px;
    font-weight: 400;
}

.social-icon {
    display: flex;
    gap: 52px;
}