* {
    margin: 0;
    padding: 0;
    font-family: 'Bahnschrift';
}
header {
    position: fixed;
    width: 100%;
    height: 149px;
    background-color: white;
    border-bottom: 8px dashed #2B2A29;
}

.logo {
    position: absolute;
    padding: 77px;
}

.header-buttons {
    display: flex;
    justify-content: center;
    margin-left: 900px;
    margin-top: 26px;
    gap: 100px;
}

.cat-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 25px;
    gap: 40px;
}
.category-container {
    display: flex;
    margin-right: 70px;
    gap: 20px;
}

.categories, a {
    color: black;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 40px;
    border-top: 8px dashed #2B2A29;
    border-bottom: 8px dashed #2B2A29;
}

.main-container {
    background-image: url(/Client/img/main.png);
    height: 100vh;
}

.green-container {
    background-image: url(/Client/img/green.png);
    height: 80vh;
}

.bestsellers-container {
    background-color: white;
    height: 80vh;
}

.shipping-container {
    background-image: url(/Client/img/shipping.png);
    height: 80vh;
}

.card-container {
    background-color: white;
    height: 80vh;
}